.start-div {
	display: block;
	visibility: visible;
}

.start-button {
	background: yellow;
	font-size: 30px;
	width: 100px;
	height: 50px;
	text-align: center;
}

.input-div {
	visibility: hidden;
}

.input-button {
	size: 60;
}